#These are configuration files for CLion
.idea/

#These are configuration files for VS code
.vscode/
.code-workspace
#This is the documentation build directory

#These are common build directory names
Debug/
Release/
cmake-build-debug/
cmake-build-release/
build/
ebuild/
debug*
build*
.xlsx
.csv
bkp/
.so
.pyc
#editor backups
*~

#Misc
clang-format
